<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="PreProcessor" class="Repositories.PreProcessorToUpperImpl"/>
	<bean id="Renderer" class="Repositories.RendererStandardImpl">
		<constructor-arg ref="PreProcessor"/>
	</bean>
	<bean id="PrinterWithPrefix" class="Repositories.PrinterWithPrefixImpl">
		<constructor-arg ref="Renderer"/>
		<property name="prefix" value="Prefisso: "/>
	</bean>

	<bean id="PrinterWithDateTime" class="Repositories.PrinterWithDateTimeImpl">
		<constructor-arg ref="Renderer"/>
	</bean>




</beans>